manifest {
  author = 'Marco De La Pierre'
  name = 'trinity-nf'
  description = 'Trinity assembly pipeline for USyd'
  homePage = 'https://github.com/marcodelapierre/trinity-nf'

  nextflowVersion = '!>=20.07.1'
}

resume = true

profiles {

  zeus   { includeConfig "config/zeus.config"   }

  nimbus { includeConfig "config/nimbus.config" }

}
