manifest {
  author = 'Marco De La Pierre'
  name = 'trinity-nf'
  description = 'Trinity assembly pipeline from USydney Informatics Hub'
  homePage = 'https://github.com/marcodelapierre/trinity-nf'

  nextflowVersion = '!>=20.07.1'
}

resume = true

trace {
  fields = 'name,hash,status,exit,realtime,submit'
}


profiles {

  zeus        { includeConfig "config/zeus.config"   }
  nimbus      { includeConfig "config/nimbus.config" }
  test_zeus   { includeConfig "config/test_zeus.config" }

  gadi        { includeConfig "config/gadi.config"   }
  test_gadi   { includeConfig "config/test_gadi.config" }

  singularity { includeConfig "config/singularity.config" }
  localdisk   { includeConfig "config/localdisk.config" }
  overlay     { includeConfig "config/overlay.config" }

}
