manifest {
  author = 'Marco De La Pierre'
  name = 'trinity-nf'
  description = 'Trinity assembly pipeline for USyd'
  homePage = 'https://github.com/marcodelapierre/trinity-nf'
}

resume = true

profiles {

  nimbus { includeConfig "config/nimbus.config" }

  zeus   { includeConfig "config/zeus.config"   }

  magnus { includeConfig "config/magnus.config" }

}
