params.cluster = 'gadi'

params.pbs_account = 'wz54'
params.whoami = 'mdp573'

workDir = "/scratch/${params.pbs_account}/${params.whoami}/nxf_work"
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params {
  copyinput = true

  localdisk = false
  local_pbs_jobfs = true
  local_jobfs_size_gb = '400'
  localdir = '/\${PBS_JOBFS}/nextflow_trinity_nf_\$(whoami)_\$\$'

  overlay = false
  overlay_size_mb = '200'
  overtaskfile = 'overlay'

  bf_totcpus = 48
  bf_cpus = 1
  bf_mem = '4GB'
  bf_collate = params.bf_totcpus / params.bf_cpus * 4 as Integer
}

process.module = 'trinity/2.9.1:samtools/1.9:salmon/1.1.0:python2/2.7.17:jellyfish/2.3.0:java/jdk-8.40:bowtie2/2.3.5.1'
process {
  withName: 'butterfly' { module = 'trinity/2.9.1:samtools/1.9:salmon/1.1.0:python2/2.7.17:jellyfish/2.3.0:java/jdk-8.40:bowtie2/2.3.5.1:parallel'}
}
process.container = 'file:///g/data/wz54/containers/trinityrnaseq.v2.12.0.simg'

process {
  executor = 'pbspro'
  clusterOptions = "-P ${params.pbs_account}"
  queue = 'normal'
  
  cpus = 24
  memory = '190GB'
  time = '1d'
  
  withName: 'jellyfish' {
    time = '2h'
  }
  withName: 'inchworm' {
    time = '3h'
  }
  withName: 'chrysalis' {
    time = '18h'
  }
  withName: 'butterfly' {
    cpus = "${params.bf_totcpus}"
    time = '1d'
  }
  withName: 'aggregate' {
    cpus = 1
    memory = '32GB'
    time = '10h'
  }
}

executor {
  $pbspro {
    queueSize = 1000
  }
}
