params.pbs_account = 'zy06'

workDir = "/scratch/${params.pbs_account}/\$(whoami)/nxf_work"
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params.copyinput = true

params.localdisk = false
params.local_pbs_jobfs = true
params.local_jobfs_size_gb = '400'
params.localdir = '/\${PBS_JOBFS}/nextflow_trinity_nf_\$(whoami)_\$\$'

params.overlay = false
params.overlay_size_mb = '200'
params.overtaskfile = 'overlay'

params.bf_totcpus = 48
params.bf_cpus = 1
params.bf_mem = '4GB'
params.bf_collate = params.bf_totcpus / params.bf_cpus * 4 as Integer

process.module = 'trinity/2.9.1'
process {
  withName: 'butterfly' { module = 'trinity/2.9.1:parallel'}
}

process {
  executor = 'pbspro'
  clusterOptions = "-P ${params.pbs_account}"
  queue = 'normal'
  
  cpus = 24
  memory = '190GB'
  time = '1d'
  
  withName: 'jellyfish' {
    time = '2h'
  }
  withName: 'inchworm' {
    time = '3h'
  }
  withName: 'chrysalis' {
    time = '18h'
  }
  withName: 'butterfly' {
    cpus = "${params.bf_totcpus}"
    time = '1d'
  }
  withName: 'aggregate' {
    cpus = 1
    memory = '32GB'
    time = '10h'
  }
}

executor {
  $pbspro {
    queueSize = 1000
  }
}
