workDir = '/data/work/temp/nxf_work'
process.cache = 'lenient'

params.copyinput = false

params.localdir = '/tmp/nextflow_trinity_nf_\$(whoami)_\$\$'

params.bf_totcpus = 1
params.bf_cpus = 1
params.bf_mem = '4GB'
params.bf_collate = params.bf_totcpus / params.bf_cpus * 1 as Integer

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g) -v /data/work:/data/work'
}

process {
  cpus = 1
  memory = '4GB'
}
