if ( params.cluster == 'gadi' ) {
  process.clusterOptions += " -l storage=gdata/${params.pbs_account}"

  env.PATH='$PATH:/apps/parallel/20191022/bin'
  env.TMPDIR="/scratch/${params.pbs_account}/${params.whoami}/tmp"

  singularity.enabled = true
  singularity.cacheDir = "/scratch/${params.pbs_account}/${params.whoami}/.nextflow/singularity"

  process.module = 'singularity'
  process {
    withName: 'butterfly' { module = 'singularity'}
  }
}
