process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params.copyinput = true

params.localdisk = false
params.local_pbs_jobfs = false
params.localdir = '/\${PBS_JOBFS}/nextflow_trinity_nf_\$(whoami)_\$\$'

params.overlay = false
params.overlay_size_mb = '100'
params.overtaskfile = 'overlay'

params.bf_totcpus = 1
params.bf_cpus = 1
params.bf_mem = '8GB'
params.bf_collate = params.bf_totcpus / params.bf_cpus * 7 as Integer

process.module = 'trinity/2.9.1:samtools/1.9:salmon/1.1.0:python2/2.7.17:jellyfish/2.3.0:java/jdk-8.40:bowtie2/2.3.5.1'
process {
  withName: 'butterfly' { module = 'trinity/2.9.1:samtools/1.9:salmon/1.1.0:python2/2.7.17:jellyfish/2.3.0:java/jdk-8.40:bowtie2/2.3.5.1:parallel'}
}

process {
  cpus = 1
  memory = '8GB'
}
