params.cluster = 'gadi'

params.pbs_account = 'wz54'
params.whoami = 'mdp573'

process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params {
  copyinput = true

  localdisk = false
  local_pbs_jobfs = false
  localdir = '/\${PBS_JOBFS}/nextflow_trinity_nf_\$(whoami)_\$\$'

  overlay = false
  overlay_size_mb = '100'
  overtaskfile = 'overlay'

  bf_totcpus = 1
  bf_cpus = 1
  bf_mem = '8GB'
  bf_multiplier = 7
  bf_collate = params.bf_totcpus / params.bf_cpus * params.bf_multiplier as Integer
}

process.module = 'trinity/2.9.1:samtools/1.9:salmon/1.1.0:python2/2.7.17:jellyfish/2.3.0:java/jdk-8.40:bowtie2/2.3.5.1'
process {
  withName: 'butterfly' { module = 'trinity/2.9.1:samtools/1.9:salmon/1.1.0:python2/2.7.17:jellyfish/2.3.0:java/jdk-8.40:bowtie2/2.3.5.1:parallel'}
}
process.container = 'file:///g/data/wz54/containers/trinityrnaseq.v2.12.0.simg'

process.clusterOptions = ""
process {
  cpus = 1
  memory = '8GB'
}
