process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params.copyinput = false

params.localdir = '/tmp/nextflow_trinity_nf_\$(whoami)_\$\$'

params.overlay_size_mb = '20'

params.bf_totcpus = 1
params.bf_cpus = 1
params.bf_mem = '8GB'
params.bf_collate = params.bf_totcpus / params.bf_cpus * 7 as Integer

process.container = 'marcodelapierre/trinityrnaseq_gnupar:2.8.6_20191022'
singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
  cacheDir = "$NXF_HOME/singularity"
}
process.module = 'singularity'

process {
  cpus = 1
  memory = '8GB'
}
