params.cluster = 'zeus'

process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params {
  copyinput = false

  localdisk = false
  local_pbs_jobfs = false
  localdir = '/tmp/nextflow_trinity_nf_\$(whoami)_\$\$'

  overlay = false
  overlay_size_mb_one = '100'
  overlay_size_mb_many = '100'
  overtaskfile = 'overlay'

  bf_totcpus = 1
  bf_cpus = 1
  bf_mem = '8GB'
  bf_multiplier = 7
  bf_collate = params.bf_totcpus / params.bf_cpus * params.bf_multiplier as Integer
}

process.container = 'marcodelapierre/trinityrnaseq_gnupar:2.8.6_20191022'
singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
  cacheDir = "$NXF_HOME/singularity"
}
process.module = 'singularity'

process.clusterOptions = ''
process {
  cpus = 1
  memory = '8GB'
}
