workDir = "$MYSCRATCH/nxf_work"
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

process.container = 'trinityrnaseq/trinityrnaseq:2.8.6'
singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
  cacheDir = "$NXF_HOME/singularity"
}
process.module = 'singularity'

params.slurm_account = 'director2172'
process {
  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'workq'
  
  cpus = 1
  time = '1h'
  memory = '10GB'
  
  withName: 'basecall' {
    cpus = 28
    time = '1d'
    memory = '120GB'
  }
  withName: 'chop' {
    cpus = 4
    time = '12h'
  }
  withName: 'assemble' {
    time = '12h'
    memory = '60GB'
  }
  withName: 'blast' {
    time = '3h'
    memory = '60GB'
  }
  withName: 'diamond' {
    cpus = 2
    time = '3h'
    memory = '60GB'
  }
}

executor {
  $slurm {
    queueSize = 512
  }
}
