workDir = "$MYSCRATCH/nxf_work"
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
  cacheDir = "$NXF_HOME/singularity"
}
process.module = 'singularity'

params.slurm_account = 'director2172'
process {
  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'workq'
  
  cpus = 24
  memory = '120GB'
  time = '1d'
  
  withName: 'jellyfish' {
    time = '2h'
  }
  withName: 'inchworm' {
    time = '3h'
  }
  withName: 'chrysalis' {
    time = '18h'
  }
  withName: 'butterfly' {
    cpus = 1
    memory = '8GB'
    time = '1d'
  }
  withName: 'aggregate' {
    cpus = 1
    memory = '32GB'
    time = '10h'
  }
}

executor {
  $slurm {
    queueSize = 512
  }
}
