params.cluster = 'zeus'

workDir = "$MYSCRATCH/nxf_work"
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}

params {
  copyinput = true

  localdisk = false
  local_pbs_jobfs = false
  localdir = '/tmp/nextflow_trinity_nf_\$(whoami)_\$\$'

  overlay = false
  overlay_size_mb = '1000'
  overtaskfile = 'overlay'

  bf_totcpus = 28
  bf_cpus = 1
  bf_mem = '4GB'
  bf_multiplier = 4
  bf_collate = params.bf_totcpus / params.bf_cpus * params.bf_multiplier as Integer
}

process.container = 'marcodelapierre/trinityrnaseq_gnupar:2.8.6_20191022'
singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
  cacheDir = "$NXF_HOME/singularity"
}
process.module = 'singularity'

params.slurm_account = 'director2172'
process {
  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'workq'
  
  cpus = 28
  memory = '120GB'
  
  withName: 'overlay_one|overlay_many' {
    cpus = 1
    memory = '4GB'
    time = '10m'
  }
  withName: 'jellyfish' {
    time = '2h'
  }
  withName: 'inchworm' {
    time = '3h'
  }
  withName: 'chrysalis' {
    time = '18h'
  }
  withName: 'butterfly' {
    cpus = "${params.bf_totcpus}"
    time = '1d'
  }
  withName: 'aggregate' {
    cpus = 1
    memory = '32GB'
    time = '10h'
  }
}

executor {
  $slurm {
    queueSize = 512
  }
}
